body {

    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    color: #43C6DB;

}

h2 {
    color: #43C6DB;

    padding: 0;
}

.button-me {
    outline-color: #43C6DB;
    color: #42d5ec;


}

.button-me:hover {
    background-color: #17a2b8;


}

.shad-me {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}


::placeholder {
    color: #fff !important;
}

#invaild-input {
    color: red;
    margin-bottom: 1%;
    display: none;
}

p a {
    text-decoration: none;

}

span a button {
    text-decoration: none;
    border: rgb(255, 187, 0) solid 1px;
    background-color: transparent;
    color: #fff;
}

span a button:hover {

    border: rgb(255, 187, 0) solid 1px;
    background-color: rgb(255, 187, 0);

}



nav {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}